    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <!-- ScrollReveal JS -->
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <!-- AnimateScroll -->
    <script type="text/javascript" src="/js/animatescroll.min.js"></script>
    <!-- Custom JS -->
    <script type="text/javascript" src="/js/index.js"></script>
    <script type="text/javascript" src="/js/typed.min.js"></script>
    </body>
</html>
