/*General Styles*/
body {
  font-family: 'Raleway', sans-serif;
}

/*Nav Styles*/
section {

}

#front {
  position: fixed;
  
  /* bring your own prefixes */
  
  position:absolute;
  border:solid 1px #000;
  width:20%;
  height:20%;
  top: 75%;
  left: 75%;
  background:#f00;
  transform: translate(-75%, -75%);
  
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
    from {filter: brightness(0);}
    to {filter: brightness(1);}
}

@keyframes mymove {
    from {filter: brightness(0);}
    to {filter: brightness(1)}
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
iframe{
 width: 50vw;
 height: calc(50vw/1.77);
}
.outer-div
{
     padding: 30px;
}
.inner-div
{
     margin: 0 auto;
     width: 100px; 
}

nav {
  position: fixed;
  top: 0;
  box-shadow: 0 5px 15px rgba(255,255,255,0.12);
  background-color: transparent;
  transition: all 0.2s;
}
#overlay {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,1); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}
nav.topNav {
  width: 100%;
  height: 70px;
  z-index: 99;
}


p.red::first-letter {
    color : #0033ff;
	display: inline-block
}
p.red
{
	color : #ffa500;
	display: inline-block
}

p.white {
	color : #fff;
	display: inline-block
}
nav.topNav ul {
  font-size: 15px;
  list-style: none;
  float: right;
  margin: 0 20px 0 0;
  padding: 0;
  line-height: 6rem;
}


nav ul li {
  display: inline-block;
  padding-right: 15px;
}

nav ul li a {
  padding-top: 0px;
  text-decoration: none;
  display: inline-block;
  color: #FFF;
}

nav ul li a:hover {
  text-decoration: none;
  color: #FFF;
}


.logo {
  line-height: 6rem;
  font-size: 50px;
  letter-spacing: -3px;
  margin: auto;
  padding-left: 20px;
  color: #FFF;
  font-family: 'louis_george_cafbold_italic';
  -webkit-font-smoothing: antialiased;

}

@media screen and (max-width: 600px){
  .logo {
    padding-left: 0px;
  }
}

.logo:hover{
  text-decoration: none;
  color: #FFF;
}


.sideNav .sideNavLogo {
  text-decoration: underline;
  line-height: 6rem;
  font-size: 25px;
  margin: auto;
  padding-left: 20px;
  color: #FFF;
  font-family: 'Cinzel', serif;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;

}

.topNav .icon{
  display: none;
}


.sideNav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #ffa500;
  background: -webkit-linear-gradient(left top, #41286C, #6d5693); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #41286C, #6d5693); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #41286C, #6d5693); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #41286C, #6d5693); /* Standard syntax (must be last) */
  overflow-x: hidden;
  padding-top: 60px;
  text-align: center;
  transition: 0.4s;
}

.sideNav a{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #FFF;
  display: block;
  transition: 0.3s;
}

.sideNav a:hover {
  text-shadow: 0.1px 0.1px 0.4px #fff;
}

.sideNav .closeBtn {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-width: 600px){
  .topNav ul li a {
    display: none;
  }
  .topNav ul li a.icon{
    display: block;;
  }
  .topNav a.logo{
    margin: 0 0 0 30%;
  }
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/*Index Styles*/

/*Intro*/
.intro {
  background-image: url("/img/main-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 800px;
  text-align: center;
}

.intro.ass{
  
  background-image: url("/img/inbg960_1.jpg");
  opacity: 0.8;
  height: 300px;
}
.intro.booty{
  
  background-image: url("/img/you.jpg");
  opacity: 0.8;
  height: 300px;
}

.introTop {
  padding-top: 100px;
  background-image: url("/img/main-bg-1.jpg");
  background-size: cover;
  opacity : 0.8;
  background-position: center;
  background-repeat: no-repeat;
  height: 800px;
  text-align: center;
}
/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on December 26, 2017 */



@font-face {
    font-family: 'louis_george_cafbold_italic';
    src: url('louis_george_cafe_bold_italic-webfont.woff2') format('woff2'),
         url('louis_george_cafe_bold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.kont {
    position: relative;
    width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.kont:hover .image {
  opacity: 0.3;
}

.kont:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.intro-text{
  background: rgba(0, 0, 0, 0);
  font-size: 50px;
  color: #000;
  overflow:none;
}
.intro-text.dick{
  margin-top: 20%;
}
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/*.buttonContainer{
  text-align: center;
  vertical-align: bottom;
}

.nextSectionArrow {
  margin-top: 15%;
  position: absolute;
  left: 50%;
  font-size: 40px;
  border: none;
  color: #FFF;
  background-color: transparent;
}*/

/*Mission*/

#mission {
  background-color: #efefef;
  box-shadow: 0px 2px 4px rgba(0,0,0,1);
}

.text-container.cunt{
	padding: 2% 2% 2% 2%;
}
.text-container{
  font-size: 16px;
  padding: 5% 5% 5% 5%;
}
.text-container #right { float:right }
.text-container #left { float:left }
.text-container #center { float:center }

.text-container h1 {
  text-transform: uppercase;
  text-align: center;
}

.primary {
  color: #ffa500;
}

@media screen and (max-width: 600px){
  .text-container{
      padding: 5% 5% 5% 5%;
    }
}

/*Team*/
.strikethrough {
	display: inline-block;
	position: relative;
	transition: all 0.5s cubic-bezier(.55, 0, .1, 1);
}

.strikethrough:after {
	content: '';
	position: absolute;
	display: block;
	width: 100%;
	height: 2px;
	box-shadow: 0 1px rgba(255,255,255,0.6);
	margin-top: -0.7em;
	background: black;
	transform-origin: center left;
	animation: strikethrough 1s 0.5s cubic-bezier(.55, 0, .1, 1) 1;
	transition: transform 0.5s cubic-bezier(.55, 0, .1, 1);
}
@keyframes strikethrough {
	from {
		transform: scaleX(0);
	}
	to {
		transform: scaleX(1);
	}
}
#team {
  overflow: hidden;
  background: linear-gradient(to right bottom, #ffa500 50%, #efefef 50%);
}

.personnel-card {
  display: block;
  align: left;
  margin: 20px auto;
  border-radius: 4px;
  height: 550px;
  width: 400px;
  background: #FFF;
  border: 1px solid #efefef;
  box-shadow: 10px 10px 20px rgba(0,0,0,0.3);
  text-align: center;
}

/*.personnel-card:hover {
  animation: shake 0.5s;
}*/

.personnel-card-name {
  text-transform: uppercase;
  color: #7A7A7A;
  font-weight: 700;
  margin-bottom: 1%;
}

.personnel-card-education-details {
  color: #7A7A7A;
}

.personnel-card-links {
  color: #7A7A7A;
  width: 50%;
  margin: auto;
  font-size: 25px;
}

.social {
  position: relative;
  display: inline-block;
}

.personnel-card-history {
  color: #7A7A7A;
  width: 60%;
  margin: auto;
}

.personnel-card-space {
    margin-top: 7%;
}

.img-circle {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 175px;
  height: 175px;
  border-radius: 50%;
  padding: 5px 5px 5px 5px;
  border: 1px solid #ffa500;
}

.mail:hover{
  color: #dd4b39;
  cursor: pointer;
}

.linkedIn:hover{
  color: #007bb6;
  cursor: pointer;
}
.github:hover{
  color: #000000;
  cursor: pointer;
}
.twitter:hover{
  color: #55acee;
  cursor: pointer;
}
.facebook:hover{
  color: #3b5998;
  cursor: pointer;
}

.underline {
  margin: auto;
  width: 80px;
  border-bottom: 1px solid #7A7A7A;
  margin-top: 20px;
}

.secondary {
  color: #FFF;
}

@keyframes shake {
  0% {transform: rotate(10deg);}
  25% {transform: rotate(-20deg);}
  50% {transform: rotate(20deg);}
  100% {transform: rotate(-10deg);}
}

/*Contact*/

#contact {
  background: #7D41FF;
    background-image: -webkit-linear-gradient(35deg, #00009a, #b300b3);
    background-image: linear-gradient(35deg, #00009a, #b300b3);
}

.contact-us {
  margin: 10% 0 0 0;
  text-align: center;
}

.form-spacing {
  padding: 20px 10px 15px 10px;
}

.form-button-spacing {
  padding: 10px 10px 15px 10px;
  text-align: center;
}
.contact-form-input {
  border: none;
  border-bottom: 1px solid #C0C0C0;
  width: 50%;
  height: 45px;
  padding: 0 0 0 10px;
  outline: none;
}

.contact-form-input:focus {
  border-bottom: 2px solid #ffa500;
  transition: all 0.1s;
}

.contact-form-textarea {
  border: none;
  border-bottom: 1px solid #C0C0C0;
  width: 100%;
  /*height: 130px;*/
  padding: 10px 0 0 10px;
  resize: none;
  outline: none;
}

.sendBtn {
    border: none;
    border-radius: 4px;
    width: 200px;
    background: #FFF;
    color: #ffa500;
    border: 2px solid #ffa500;
    transition-property: border, color, background;
    transition-duration: 0.3s, 0.3s, 0.3s;
}

.sendBtn:hover {
  background: #ffa500;
  color: white;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
}


.contact-form-textarea:focus {
  border-bottom: 2px solid #ffa500;
}

.contact-form-container {
  width: 100%;
  height: 100%;
  background: #FFF;
  border-radius: 6px;
  margin: auto;
  box-shadow: 10px 10px 20px rgba(0,0,0,0.3);
}
h2 {
	color: #fff;
	
}
h2.dick {
	font-size: 50px;
	
}
h2.dick:hover{
	color: #ffa500;
}
/*.contact-form-container {
  text-align: center;
  padding: 5% 25% 10% 25%;
}*/

.contact-form-container h1 {
  text-transform: uppercase;
}































.cont {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: .5s ease;
}

.cont:hover .overlay {
  width: 0%;
}

.t {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 5%;
  transform: translate(-5%, -50%);
  -ms-transform: translate(-5%, -50%);
}


#social_media {
    display:inline-block;
    
}
#social_media ul {
    display: block;
    float:left;
    padding: 25px;
    margin: 10px auto;
}
#social_media li {
    list-style: none;

    margin: 0 50px;
    
}
#social_media li a, #social_media li {
    width: 70px;
    height: 70px;
    display: block;
    float: left;
}


img{
  width: 100%;
  height: auto;
}

